html {
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}


.body {
  width: 100vw;
  box-sizing: border-box;
}
.header {
  background: coral;
}

.header__nav {
  text-align: center;
  background: #fefefe;
}
.header__link {
  text-decoration: none;
  background-color: indianred;
  size: 56px;
  color: khaki;
}
.main {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.main__header {
  background: #a2bce0;
}
.main__title {
  color: #0b5563;
}
.article {
  padding: 8px 0 0 0;
}
.article__paragraph {
  padding: 8px 0 0 0;
  margin: 0;
}
.scroll {
  display: block;
  text-decoration: none;
  margin: 8px 0 0 0;
}
.footer {
  display: block;
  margin: 8px 0 0 0;
  color: #0b5563;
}
.div--js{
  background: yellow;
  color: #000;
}